{% extends "src/templates/global/layout.html" %}

{% block content %}
<main class="main-page">
	<!-- KV -->
	<section
		class="kv-section static w-full h-[100vh]  bg-gradient-to-r from-[#F8F5FF] to-primary flex justify-items-center items-center">
		<div class="container">
			<div class="text-center">
				<img src="src/images/home-s1-1.svg" alt="semicolon" class="w-[28px] mt-23 mx-auto mb-8" loading="lazy">
				<h1 class="font-abhaya text-4xl lg:text-6xl mb-5">Even if I am a little cog,<br>
					I still want to make the world beautiful.</h1>
				<p class="font-roboto text-base lg:text-xl mb-7">.Alani portfolio { Web RWD Design; APP Design; UI
					Design; AI
					Painting; Other; }</p>
			</div>
		</div>
	</section>
	<!-- about -->
	<section class="about-section relative w-full bg-white flex flex-col justify-items-center items-center">
		<div class="text-wrapper absolute top-40 z-0 select-none w-full">
			<div class="bg-text font-roboto font-semibold text-[180px] text-decorative">As a goldfish in this world,
				each time I open my eyes, I see a brand new day full of wonder.</div>
			<div class="bg-text font-roboto font-semibold text-[180px] text-decorative">As a goldfish in this world,
				each time I open my eyes, I see a brand new day full of wonder.</div>
		</div>
		<div class="container static z-10">
			<div class="text-center">
				<img src="src/images/home-s1-1.svg" alt="semicolon" class="w-[28px] mt-23 mx-auto mb-8" loading="lazy">
				<div class="w-[113px] h-[113px] rounded-full overflow-hidden mx-auto mb-4">
					<img src="/src/images/home-s2-1-avatar.jpg" alt="avatar" loading="lazy">
				</div>
				<h2 class="font-abhaya text-4xl lg:text-[50px] mb-5">I'm Alani Syu.</h2>
				<p class="font-roboto font-semibold text-xl lg:text-[22px] mb-8">即使是個小螺絲，也要把世界變美</p>
				<p class="font-roboto text-sm lg:text-base max-w-[785px] mx-auto mb-14">作為 Web UI Designer，懂
					Code，能與前端溝通；懂時程控管，能與 PM
					協調時間；懂市場分析，制定視覺方向，能提高提案命中率。曾為公司爭取到多個大型專案，讓我們一起打造精彩的產品吧！</p>
			</div>
		</div>
		<div class="bg-wrapper z-10 select-none mb-14">
			<div class="bg-img h-[80px]">
				<img class="h-full object-cover" src="/src/images/home-s2-2-poster.png" alt="poster" loading="lazy">
			</div>
			<div class="bg-img h-[80px]">
				<img class="h-full object-cover" src="/src/images/home-s2-2-poster.png" alt="poster" loading="lazy">
			</div>
	</section>
	<!-- Experience -->
	<section class="experience-section relative w-full bg-white flex flex-col justify-items-center items-center">
		<div class="container">
			<div class="text-center">

			</div>
			<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-[30px] gap-y-[60px]">
			</div>

		</div>
		<!-- Work Collection -->
</main>
{% endblock %}

{% block page_js %}
<script type="module" src="/src/"></script>
{% endblock %}