{% extends "src/templates/global/layout.html" %}

{% block content %}
<main class="main-page">
    <!-- intro -->
    <section class="w-full bg-white py-13">
        <div class="container">
            <img src="./static/images/home-s1-1.svg" alt="semicolon" class="w-[28px] mt-23 mb-8" loading="lazy">
            <h1 class="font-abhaya text-4xl lg:text-6xl">{{productTitle}}</h1>
            <div class="flex items-center mt-2.5">
                <p class="flex-none font-abhaya text-2xl lg:text-[26px] mr-5">Projects</p>
                <p class="font-roboto text-sm lg:text-base">{{productProjects}}</p>
            </div>
            <ul class="mt-2.5 flex flex-wrap gap-2.5">
                {% for item in skillList %}
                <li class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
                    {{item}}
                </li>
                {% endfor %}
            </ul>
            <p class="mt-2.5 font-roboto text-xs lg:text-sm leading-5">{{productSub}}</p>
        </div>
    </section>

    <!-- images -->
    <section>
        {% for item in productImgs %}
        <picture>
            <source srcset="./static/images/products/{{item.mobile}}" media="(max-width: 767px)">
            <img src="./static/images/products/{{item.desktop}}" alt="{{productProjects}}"
                class="w-full h-auto object-cover img-blur" 
                loading="lazy"
                onload="this.classList.add('loaded')"
            >
        </picture>
        {% endfor %}
    </section>

    <!-- others -->
    <section id="works-section" class="relative w-full bg-white">
        <div class="container py-12.5 lg:py-20">
            <div class="staggered-scroll grid grid-cols-1 lg:grid-cols-2 gap-x-[40px] lg:mt-7.5 lg:mb-22.5">
                <!-- 左欄內容 -->
                <div class="column left overflow-visible translate-y-10">
                    <div class="card group mb-13">
                        <a href="{{otherLeft.url}}" rel="noopener noreferrer">
                            <div class="relative overflow-hidden block card-img rounded-2xl mb-4">
                                <img src="{{otherLeft.imgs}}" alt="{{otherLeft.title}}" loading="lazy" class="w-full h-auto block transition-transform duration-400 group-hover:scale-110 group-focus:scale-110">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-400 pointer-events-none"></div>
                            </div>
                            <div class="card-content">
                                <h4 class="font-abhaya text-2xl lg:text-[26px]">{{otherLeft.title}}</h4>
                                <p class="font-roboto text-xs lg:text-sm">{{otherLeft.sub}}</p>
                                <ul class="mt-3 flex flex-wrap gap-1">
                                    {% for item in otherLeft.list %}
                                    <li
                                        class="inline-block p-1 px-2 lg:px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
                                        {{item}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- 右欄內容 -->
                <div class="column right overflow-visible translate-y-4">
                    <div class="card group mb-13">
                        <a href="{{otherRight.url}}" rel="noopener noreferrer">
                            <div class="relative overflow-hidden block card-img rounded-2xl mb-4">
                                <img src="{{otherRight.imgs}}" alt="{{otherRight.title}}" loading="lazy" class="w-full h-auto block transition-transform duration-400 group-hover:scale-110 group-focus:scale-110">
                                <div class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-black/60 opacity-0 group-hover:opacity-100 transition-opacity duration-400 pointer-events-none"></div>
                            </div>
                            <div class="card-content">
                                <h4 class="font-abhaya text-2xl lg:text-[26px]">{{otherRight.title}}</h4>
                                <p class="font-roboto text-xs lg:text-sm">{{otherRight.sub}}</p>
                                <ul class="mt-3 flex flex-wrap gap-1">
                                    {% for item in otherRight.list %}
                                    <li
                                        class="inline-block p-1 px-2 lg:px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
                                        {{item}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}

{% block page_js %}
<script type="module" src="./static/js/index.js"></script>
{% endblock %}