@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-roboto: "Roboto", sans-serif;
    --font-abhaya: "Abhaya Libre", sans-serif;
    --color-primary: #5F27AC;
    --color-dark: #1C1C1C;
    --color-decorative: #FBF9FF;
    --color-hashtag-1: #F8F5FF;
    --color-hashtag-2: #8C5AAE;
    --color-pop-up-bg: #D1D1D1;
}

@layer utilities {
    .container {
        width: 100%;
        max-width: 1366px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;

        @media screen and (min-width: 768px) {
            padding-left: 90px;
            padding-right: 90px;
        }
    }
}

/* custom css */
html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

header {
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s, box-shadow 0.3s;
}

section {
    scroll-margin-top: 104px;

    @media (max-width: 767px) {
        scroll-margin-top: 70px;
    }
}

.header-scrolled {
    background: #fff !important;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.06);
    transition: background 0.3s, box-shadow 0.3s;
}

#mobile-menu-overlay {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

#mobile-menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -5;
    /* 確保影片在內容後面 */
}

.background-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
    /* 確保影片覆蓋整個容器 */
    z-index: -5;
}

.icon-down {
    animation: bounce-down 1.5s infinite;
    animation-timing-function: cubic-bezier(.5, 1.7, .7, 1);
}

@keyframes bounce-down {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

.text-wrapper {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    .bg-text {
        white-space: nowrap;
        padding: 0 10rem;
        animation: move-rtl 60000ms linear infinite;
    }
}

.bg-wrapper {
    display: flex;
    overflow: hidden;

    .bg-img {
        flex-basis: 1780px;
        flex-shrink: 0;
        animation: move-rtl 30000ms linear infinite;

        @media screen and (min-width: 768px) {
            flex-basis: 2380px;
        }
    }
}

@keyframes move-rtl {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}