<footer>
    <section
        class="top-footer static flex justify-items-center items-center h-[305px] lg:h-[435px] bg-linear-to-r from-[#F8F5FF] to-[#FBE6F3]">
        <div class="text-wrapper absolute z-0 select-none w-full">
            <div class="bg-text font-roboto font-semibold text-[180px] text-decorative">Even if I am a little cog, I
                still want
                to make the world beautiful.</div>
            <div class="bg-text font-roboto font-semibold text-[180px] text-decorative">Even if I am a little cog, I
                still want
                to make the world beautiful.</div>
        </div>
        <div class="container static z-10">
            <div class="text-center">
                <div class="font-abhaya text-4xl lg:text-6xl text-center mb-2">
                    Thank You of Watching
                </div>
                <div class="font-roboto text-sm lg:text-base mb-7">
                    感謝您耐心閱讀！歡迎透過人力銀行與我聯繫，或將您的訊息寄至 syu3n1118@gmail.com，我將盡快回覆您。
                </div>
                <a href="mailto:syu3n1118@gmail.com" target="_blank"
                    class="font-roboto text-base rounded-full bg-primary text-white py-4 px-6 inline-block border-1 border-transparent hover:text-primary hover:bg-white hover:border-1 hover:border-primary transition duration-200 ease-in">
                    SEND EMAIL
                </a>
            </div>
        </div>
    </section>
    <section class="bottom-footer bg-dark">
        <div class="container">
            <p class="font-roboto text-xs text-center text-white py-[18px]">Copyright © 2025 Alani.Syu All Rights
                Reserved</p>
        </div>
    </section>
</footer>