<header class="absolute top-0 left-0 w-full z-50 shadow-md">
    <nav class="flex items-center justify-between px-6 py-7">
        <div class="flex items-center space-x-4">
            <a href="/" class="font-abhaya text-3xl lg:text-[40px]">
                Alani Syu
            </a>
            <span class="site-title px-4 border-l-1 border-dark-500">PORTFOLIO</span>
        </div>
        <ul class="flex items-center space-x-12 hidden lg:flex">
            <li><a href="/" class="transition duration-200 ease-in hover:text-primary">HOME</a></li>
            <li><a href="/about" class="transition duration-200 ease-in hover:text-primary">ABOUT ME</a></li>
            <li><a href="/contact" class="transition duration-200 ease-in hover:text-primary">EXPERIENCE</a>
            </li>
            <li><a href="/blog" class="transition duration-200 ease-in hover:text-primary">WORKS COLLECTION</a>
            </li>
            <li>
                <a href="mailto:syu3n1118@gmail.com" target="_blank"
                    class="transition duration-200 ease-in font-roboto text-sm rounded-full bg-primary text-white py-2.5 px-4 inline-block border-1 border-transparent hover:text-primary hover:bg-white hover:border-1 hover:border-primary">
                    SEND EMAIL
                </a>
            </li>
        </ul>
    </nav>
</header>