<!DOCTYPE html>
<html lang="zh">

<head>
    <base href="*" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="{{description}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:locale" content="zh" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{image}}" />

    <link rel="icon" type="image/png" href="./static/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./static/favicon/favicon.svg" />
    <link rel="shortcut icon" href="./static/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./static/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Alani Syu" />
    <link rel="manifest" href="./static/favicon/site.webmanifest" />

    <link rel="stylesheet" href="./static/css/style.css" />
    <title>{{title}}</title>
</head>

<body>
    <div id="main-body static">
        {% include "src/templates/global/header.html" %}

        {% block content %}{% endblock %}

        {% block footer %}{% include "src/templates/global/footer.html" %}{% endblock %}
    </div>
    <script type="module" src="./static/js/main.js"></script>
    {% block page_js %}{% endblock %}
</body>

</html>