<!DOCTYPE html>
<html lang="zh">

<head>
    <base href="*" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="{{description}}" />
    <meta property="og:url" content="{{url}}" />
    <meta property="og:locale" content="zh" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="{{image}}" />

    <link rel="icon" type="image/png" sizes="192x192" href="images/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="images/favicon/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="images/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="images/png" sizes="16x16" href="images/favicon/favicon-16x16.png">

    <link rel="stylesheet" href="/src/style.css" />
    <title>{{title}}</title>
</head>

<body>
    <div id="main-body static">
        {% include "src/templates/global/header.html" %}

        {% block content %}{% endblock %}

        {% include "src/templates/global/footer.html" %}
    </div>
    <script type="module" src="/src/main.js"></script>
    {% block page_js %}{% endblock %}
</body>

</html>