{% extends "src/templates/global/layout.html" %}

{% block content %}
<main class="main-page">
	<!-- KV -->
	<section id="kv-section" class="static w-full h-[100vh]  flex justify-items-center items-center">
		<div class="background-video">
			<div class="absolute w-full h-full bg-[#EFECF733]/20 z-1"></div>
			<video autoplay muted loop playsinline class="w-full h-full object-cover">
				<source src="./static/videos/home-topbanner.mp4" type="video/mp4">
				Your browser does not support the video tag.
			</video>
		</div>
		<div class="container">
			<div class="text-center">
				<img src="./static/images/home-s1-1.svg" alt="semicolon" class="w-[28px] mt-4 lg:mt-23 mx-auto mb-8"
					loading="lazy">
				<h1 class="font-abhaya text-4xl lg:text-6xl mb-5 lg:leading-18">Even if I am a little cog,<br>
					I still want to make the world beautiful.</h1>
				<p class="font-roboto text-base lg:text-xl mb-7">.Alani portfolio { Web RWD Design; APP Design; UI
					Design; AI
					Painting; Other; }</p>
			</div>
		</div>
		<div class="absolute bottom-12 lg:bottom-15 left-0 right-0 text-center">
			<a href="index.html#about-section">
				<img src="./static/images/icon-down.svg" alt="icon-down" class="icon-down w-[54px] mx-auto mb-8"
					loading="lazy">
				<p class="text-xs">SCROLL DOWN</p>
			</a>
		</div>
	</section>
	<!-- about -->
	<section id="about-section" class="relative w-full bg-white flex flex-col justify-items-center items-center">
		<div class="text-wrapper absolute top-40 z-0 select-none w-full">
			<div class="bg-text font-roboto font-semibold text-[180px] text-decorative">As a goldfish in this world,
				each time I open my eyes, I see a brand new day full of wonder.</div>
			<div class="bg-text font-roboto font-semibold text-[180px] text-decorative">As a goldfish in this world,
				each time I open my eyes, I see a brand new day full of wonder.</div>
		</div>
		<div class="container static z-10">
			<div class="text-center">
				<img src="./static/images/home-s1-1.svg" alt="semicolon" class="w-[28px] mt-23 mx-auto mb-8"
					loading="lazy">
				<div class="w-[113px] h-[113px] rounded-full overflow-hidden mx-auto mb-4">
					<img src="./static/images/home-s2-1-avatar.jpg" alt="avatar" loading="lazy">
				</div>
				<h2 class="font-abhaya text-4xl lg:text-[50px] mb-5">I'm Alani Syu.</h2>
				<p class="font-roboto font-semibold text-xl lg:text-[22px] mb-8">即使是個小螺絲，也要把世界變美</p>
				<p class="font-roboto text-sm lg:text-base max-w-[785px] mx-auto mb-14">作為 Web UI Designer，懂
					Code，能與前端溝通；懂時程控管，能與 PM
					協調時間；懂市場分析，制定視覺方向，能提高提案命中率。曾為公司爭取到多個大型專案，讓我們一起打造精彩的產品吧！</p>
			</div>
		</div>
		<div class="bg-wrapper z-10 select-none mb-14">
			<div class="bg-img h-[60px] lg:h-[80px]">
				<img class="h-full object-cover" src="./static/images/home-s2-2-poster.png" alt="poster" loading="lazy">
			</div>
			<div class="bg-img h-[60px] lg:h-[80px]">
				<img class="h-full object-cover" src="./static/images/home-s2-2-poster.png" alt="poster" loading="lazy">
			</div>
			<div class="bg-img h-[60px] lg:h-[80px]">
				<img class="h-full object-cover" src="./static/images/home-s2-2-poster.png" alt="poster" loading="lazy">
			</div>
		</div>
	</section>
	<!-- Experience -->
	<section id="experience-section" class="relative w-full bg-linear-to-r from-[#F8F5FF] to-[#FBE6F3]">
		<img class="absolute top-[30px] lg:top-[55px] right-[-7%] lg:right-[-2%] w-[265px] lg:w-[345px] select-none pointer-events-none"
			src="./static/images/home-s3-bg.svg" alt="bg-svg" loading="lazy">
		<div class="container py-23">
			<div class="text-left mb-8">
				<img src="./static/images/home-s1-1.svg" alt="semicolon" class="w-[28px] mb-8" loading="lazy">
				<h2 class="font-abhaya text-4xl lg:text-[50px]">Experience</h2>
			</div>
			<div class="grid grid-cols-1 lg:grid-cols-2 gap-x-[30px] gap-y-[60px]">
				<div class="col">
					<div class="flex items-center">
						<div class="flex-none font-abhaya text-3xl lg:text-[40px] pr-7">2021.04-2024.04</div>
						<div class="flex-initial w-full h-[1px] bg-dark hidden lg:inline"></div>
					</div>
					<div class="flex items-center mt-5 lg:mt-7.5">
						<div class="w-[70px] h-[70px] rounded-full overflow-hidden mr-2.5">
							<img src="./static/images/home-s3-1-poster.png" alt="s3-1" loading="lazy">
						</div>
						<div class="grid gap-1.5">
							<div class="font-roboto font-semibold text-xl lg:text-[22px]">玩美移動 — AI/AR 美妝科技</div>
							<p class="font-roboto text-sm lg:text-base">Assistant Project Manager • 3 years</p>
						</div>
					</div>
					<div class="lg:max-w-[482px] mt-5 lg:mt-7.5">
						<p class="font-roboto text-sm lg:text-base">負責官網維護，定義並設計 Hyperlink 樣式，持續優化和延伸整體設計方向。同時主導制定 Figma
							與 ProtoPie 元件，提升設計團隊的協作效率並確保樣式一致性。使用 AI 工具如 MidJourney 和 Stable
							Diffusion，用於繪圖創作，賦予設計更多可能性。此外，參與新產品的定義過程，將創意與技術融入產品設計，為團隊創造更多價值。</p>
						<ul class="mt-5 lg:mt-7.5 flex flex-wrap gap-2.5">
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								官網維護與優化</li>
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								Web AI APP 介面設計</li>
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								NFT 頁面開發</li>
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								創新技術應用</li>
						</ul>
					</div>
				</div>
				<div class="col">
					<div class="font-abhaya text-3xl lg:text-[40px]">2015.08-2020.11</div>
					<div class="flex items-center mt-5 lg:mt-7.5">
						<div class="w-[70px] h-[70px] rounded-full overflow-hidden mr-2.5">
							<img src="./static/images/home-s3-2-poster.png" alt="s3-1" loading="lazy">
						</div>
						<div class="grid gap-1.5">
							<div class="font-roboto font-semibold text-xl lg:text-[22px]">好事互動媒體設計</div>
							<p class="font-roboto text-sm lg:text-base">UI Designer • 5 years</p>
						</div>
					</div>
					<div class="lg:max-w-[482px] mt-5 lg:mt-7.5">
						<p class="font-roboto text-sm lg:text-base">專精 Web UI 設計，執行超過 196+
							專案，涵蓋企業官網、行銷頁面、電商平台及內部系統。主導多項重點專案，包括國泰人壽官網行動版、國泰人壽 VIP 形象網站、台灣大哥大官網、TOYOTA 官網、台灣 Pay
							官網、旺旺友聯產險官網及倍舒痕產品形象網站，成功提升品牌形象與用戶體驗。</p>
						<ul class="mt-5 lg:mt-7.5 flex flex-wrap gap-2.5">
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								多樣化 Web UI 設計</li>
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								品牌主視覺創作</li>
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								團隊協作與專案推進</li>
							<li
								class="inline-block p-1 px-4 rounded-full bg-hashtag-2/10 font-roboto text-xs lg:text-sm">
								跨部門專案協作</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Works Collection -->
	<section id="works-section" class="relative w-full bg-white">
		<div class="container py-15 lg:py-23">
			<div class="text-center">
				<img src="./static/images/home-s1-1.svg" alt="semicolon" class="w-[28px] mx-auto mb-8" loading="lazy">
				<h2 class="font-abhaya text-4xl lg:text-[50px]">Works Collection</h2>
			</div>
			<!-- PC -->
			<div class="staggered-scroll hidden lg:grid grid-cols-2 gap-x-[40px] mt-7.5 mb-22.5">
				<!-- 左欄內容 -->
				<div class="column left overflow-visible translate-y-10">
					<div class="card mb-13">
						<a href="product-1.html" rel="noopener noreferrer">
							<div class="card-img rounded-2xl overflow-hidden mb-4">
								<img src="./static/images/p01-banner.jpg" alt="s4-1" loading="lazy">
							</div>
							<div class="card-content">
								<h4 class="font-abhaya text-2xl lg:text-[26px]">Perfectcorp.com & DemoStore</h4>
								<p class="font-roboto text-xs lg:text-sm">定義並設計 Hyperlink 樣式，持續優化和延伸整體設計方向。同時主導制定 Figma
									與 ProtoPie 元件，提升設計團隊的協作效率並確保樣式一致性。</p>
								<ul class="mt-3 flex flex-wrap gap-1">
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Web RWD Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										UI Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										AI Painting</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Component</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Visual Design</li>
								</ul>
							</div>
						</a>
					</div>
					<div class="card mb-13">
						<a href="product-3.html" rel="noopener noreferrer">
							<div class="card-img rounded-2xl overflow-hidden mb-4">
								<img src="./static/images/p03-banner.jpg" alt="s4-3" loading="lazy">
							</div>
							<div class="card-content">
								<h4 class="font-abhaya text-2xl lg:text-[26px]">NFTs Product Showcase</h4>
								<p class="font-roboto text-xs lg:text-sm">為 NFT
									設計的產品頁面，專案強調創新的視覺呈現，吸引收藏家與愛好者，並提供直觀的操作體驗，讓使用者輕鬆探索並擁有限量版 NFT，開啟數位藝術的全新世界。</p>
								<ul class="mt-3 flex flex-wrap gap-1">
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Web RWD Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										UI Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Visual Design</li>
								</ul>
							</div>
						</a>
					</div>
					<div class="card mb-13">
						<a href="product-5.html" rel="noopener noreferrer">
							<div class="card-img rounded-2xl overflow-hidden mb-4">
								<img src="./static/images/p05-banner.jpg" alt="s4-5" loading="lazy">
							</div>
							<div class="card-content">
								<h4 class="font-abhaya text-2xl lg:text-[26px]">Qwalker</h4>
								<p class="font-roboto text-xs lg:text-sm">
									提升保戶日常運動動機，並以輕鬆有趣的方式增加品牌黏著度。介面設計強調易操作與視覺趣味性，鼓勵用戶每日開啟 App 進行步數紀錄、任務挑戰與福利兌換。</p>
								<ul class="mt-3 flex flex-wrap gap-1">
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										APP</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										UI Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Visual Design</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
				<!-- 右欄內容 -->
				<div class="column right overflow-visible translate-y-4">
					<div class="card mb-13">
						<a href="product-2.html" rel="noopener noreferrer">
							<div class="card-img rounded-2xl overflow-hidden mb-4">
								<img src="./static/images/p02-banner.jpg" alt="s4-2" loading="lazy">
							</div>
							<div class="card-content">
								<h4 class="font-abhaya text-2xl lg:text-[26px]">YouCam Online Editor</h4>
								<p class="font-roboto text-xs lg:text-sm">一款基於 AI
									技術的線上編輯工具，提供直觀的界面和強大的影像處理功能。用戶可以輕鬆進行照片修飾、創造圖片、更換髮型、擴充底圖、趣味應用等編輯，提升影像品質。</p>
								<ul class="mt-3 flex flex-wrap gap-1">
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Web RWD Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										UI Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										AI Painting</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Component</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Visual Design</li>
								</ul>
							</div>
						</a>
					</div>
					<div class="card mb-13">
						<a href="product-4.html" rel="noopener noreferrer">
							<div class="card-img rounded-2xl overflow-hidden mb-4">
								<img src="./static/images/p04-banner.jpg" alt="s4-4" loading="lazy">
							</div>
							<div class="card-content">
								<h4 class="font-abhaya text-2xl lg:text-[26px]">China Airlines Cargo Services</h4>
								<p class="font-roboto text-xs lg:text-sm">
									重點改善手機介面的操作體驗。透過重新設計，提升地勤人員與顧客的互動效率，降低送單錯誤率，並加快現場點貨與訂單建立的速度，顯著提升業務流程的流暢度與準確性。</p>
								<ul class="mt-3 flex flex-wrap gap-1">
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Web RWD Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										UI Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Visual Design</li>
								</ul>
							</div>
						</a>
					</div>
					<div class="card mb-13">
						<a href="product-6.html" rel="noopener noreferrer">
							<div class="card-img rounded-2xl overflow-hidden mb-4">
								<img src="./static/images/p06-banner.jpg" alt="s4-6" loading="lazy">
							</div>
							<div class="card-content">
								<h4 class="font-abhaya text-2xl lg:text-[26px]">Cathay United bank ATM @ Family Mart</h4>
								<p class="font-roboto text-xs lg:text-sm">
									活動網站以簡潔歡樂的插畫風格，搭配活潑明亮的視覺設計，運用了合作品牌的主色系，圖文搭配的排版設計不僅提升閱讀清晰度，也增添互動趣味，進一步吸引使用者參與活動。</p>
								<ul class="mt-3 flex flex-wrap gap-1">
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Web RWD Design</li>
									<li
										class="inline-block p-1 px-4 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
										Visual Design</li>
								</ul>
							</div>
						</a>
					</div>
				</div>
			</div>
			<!-- Mobile -->
			<div class="staggered-scroll grid lg:hidden grid-cols-1 gap-x-[40px] mt-7.5 lg:mb-22.5">
				<div class="card mb-7.5">
					<a href="product-1.html" rel="noopener noreferrer">
						<div class="card-img rounded-2xl overflow-hidden mb-4">
							<img src="./static/images/p01-banner.jpg" alt="s4-1" loading="lazy">
						</div>
						<div class="card-content">
							<h4 class="font-abhaya text-2xl lg:text-[26px]">Perfectcorp.com & DemoStore</h4>
							<p class="font-roboto text-xs lg:text-sm">定義並設計 Hyperlink 樣式，持續優化和延伸整體設計方向。同時主導制定 Figma
								與 ProtoPie 元件，提升設計團隊的協作效率並確保樣式一致性。</p>
							<ul class="mt-3 flex flex-wrap gap-2.5">
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Web RWD Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									UI Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									AI Painting</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Component</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Visual Design</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="card mb-7.5">
					<a href="product-2.html" rel="noopener noreferrer">
						<div class="card-img rounded-2xl overflow-hidden mb-4">
							<img src="./static/images/p02-banner.jpg" alt="s4-2" loading="lazy">
						</div>
						<div class="card-content">
							<h4 class="font-abhaya text-2xl lg:text-[26px]">YouCam Online Editor</h4>
							<p class="font-roboto text-xs lg:text-sm">一款基於 AI
								技術的線上編輯工具，提供直觀的界面和強大的影像處理功能。用戶可以輕鬆進行照片修飾、創造圖片、更換髮型、擴充底圖、趣味應用等編輯，提升影像品質。</p>
							<ul class="mt-3 flex flex-wrap gap-1">
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Web RWD Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									UI Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									AI Painting</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Component</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Visual Design</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="card mb-7.5">
					<a href="product-3.html" rel="noopener noreferrer">
						<div class="card-img rounded-2xl overflow-hidden mb-4">
							<img src="./static/images/p03-banner.jpg" alt="s4-3" loading="lazy">
						</div>
						<div class="card-content">
							<h4 class="font-abhaya text-2xl lg:text-[26px]">NFTs Product Showcase</h4>
							<p class="font-roboto text-xs lg:text-sm">為 NFT
								設計的產品頁面，專案強調創新的視覺呈現，吸引收藏家與愛好者，並提供直觀的操作體驗，讓使用者輕鬆探索並擁有限量版 NFT，開啟數位藝術的全新世界。</p>
							<ul class="mt-3 flex flex-wrap gap-1">
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Web RWD Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									UI Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Visual Design</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="card mb-7.5">
					<a href="product-4.html" rel="noopener noreferrer">
						<div class="card-img rounded-2xl overflow-hidden mb-4">
							<img src="./static/images/p04-banner.jpg" alt="s4-4" loading="lazy">
						</div>
						<div class="card-content">
							<h4 class="font-abhaya text-2xl lg:text-[26px]">China Airlines Cargo Services</h4>
							<p class="font-roboto text-xs lg:text-sm">
								重點改善手機介面的操作體驗。透過重新設計，提升地勤人員與顧客的互動效率，降低送單錯誤率，並加快現場點貨與訂單建立的速度，顯著提升業務流程的流暢度與準確性。</p>
							<ul class="mt-3 flex flex-wrap gap-1">
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Web AWD Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									UI Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Visual Design</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="card mb-7.5">
					<a href="product-5.html" rel="noopener noreferrer">
						<div class="card-img rounded-2xl overflow-hidden mb-4">
							<img src="./static/images/p05-banner.jpg" alt="s4-5" loading="lazy">
						</div>
						<div class="card-content">
							<h4 class="font-abhaya text-2xl lg:text-[26px]">Qwalker</h4>
							<p class="font-roboto text-xs lg:text-sm">
								提升保戶日常運動動機，並以輕鬆有趣的方式增加品牌黏著度。介面設計強調易操作與視覺趣味性，鼓勵用戶每日開啟 App 進行步數紀錄、任務挑戰與福利兌換。</p>
							<ul class="mt-3 flex flex-wrap gap-1">
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									APP</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									UI Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Visual Design</li>
							</ul>
						</div>
					</a>
				</div>
				<div class="card">
					<a href="product-6.html" rel="noopener noreferrer">
						<div class="card-img rounded-2xl overflow-hidden mb-4">
							<img src="./static/images/p06-banner.jpg" alt="s4-6" loading="lazy">
						</div>
						<div class="card-content">
							<h4 class="font-abhaya text-2xl lg:text-[26px]">Cathay United bank ATM @ Family Mart</h4>
							<p class="font-roboto text-xs lg:text-sm">
								活動網站以簡潔歡樂的插畫風格，搭配活潑明亮的視覺設計，運用了合作品牌的主色系，圖文搭配的排版設計不僅提升閱讀清晰度，也增添互動趣味，進一步吸引使用者參與活動。</p>
							<ul class="mt-3 flex flex-wrap gap-1">
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Web RWD Design</li>
								<li
									class="inline-block p-1 px-2 rounded-full bg-hashtag-1 font-roboto text-xs lg:text-sm">
									Visual Design</li>
							</ul>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</main>
{% endblock %}

{% block page_js %}
<script type="module" src="./static/js/index.js"></script>
{% endblock %}